<%= form_with(model: gig) do |form| %>
  <% if gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
        <% gig.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= form.label :title %></h3>
    <%= form.text_field :title, required: true, placeholder: "I will be..." %>
  </div>

  <div class="field">
    <h3><%= form.label :description %></h3>
    <%= form.rich_text_area :description, required: true, placeholder: "I live in..." %>
  </div>

  <div class="field">
    <h3><%= form.label :price %></h3>
    <section class="item-row" style="justify-content: left;">
      <%= form.number_field :price, placeholder: "10", required: true %>
      $
    </section>
  </div>

  <h4 class="bold">Tags</h4>
  <div class="field">
    <%= form.select :offoron, options_for_select(Gig::OPTIONS), class: "gig_card", required: true %>
    <%= form.select :gigtype, options_for_select(Gig::TYPES), class: "gig_card", required: true %>
  </div>

  <h4>What is the maximum time that a performance can last?</h4>
  <div class="field">
    <%= form.number_field :maxtime  %>
    <%= form.select :timetype, options_for_select([["Minutes"], ["Hours"]]), required: true %>
  </div>

  <h4>What country and state can you perform in?</h4>
  <div class="field">
    <%= form.label :country %><%= form.text_field :country, required: true %>
    <%= form.label :state %><%= form.text_field :state, required: true %>
  </div>

  <div class="actions" style="margin-top: 100px;">
    <%= form.submit %>
  </div>
<% end %>