<!DOCTYPE html>
<html>
  <head>
    <title>No name yet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light text-center">
        <%= link_to  "Ehassle", root_path , class: "nav-header navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to  "Home", root_path, class: "nav-link" %>
            </li>
        </div>

        <% if user_signed_in? %>
          <div class="dropdown hover">
            <a href=""><%= current_user.username %></a>
            <ul>
              <li><%= link_to  "PROFILE", root_path %></li>
              <li><%= link_to  "LOGOUT", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
          <a href="">
            <img src="https://cdn.discordapp.com/attachments/815472652293898260/885451456864469062/bellimage.png" alt="Bell" width="30px" height="30px" style="margin-right: 20px;">
          </a>
        <% else %>
          <%= link_to  "Sign  up", new_user_registration_path , class: "btn btn-primary my-sm-2" %>
          <%= link_to  "Login", user_session_path , class: "margin-left btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
    </nav>
    <%= yield %>
    <footer>
      <section class="column" style="margin-left: 300px;">
        <h3 class="bold">CONTACTS</h3>
        <a href="">Email</a>
        <a href="">Phone Number</a>
      </section>
      <p class="smallprint" style="margin-left: 45%; margin-top: -1;">@Copyright reserved 2021 Jimmy Chu Pau Tong</p>
    </footer>
  </body>
</html>
